/venv/
/.ipynb_checkpoints/
/.ipython/
/silva.seed_v138_1.align
/summary.csv
/custom_refs.md
/custom_silva.ipynb
/desktop.ini
/css/styles/school-book.png
/css/styles/shades-of-purple.css
/css/styles/docco.css
/css/styles/solarized-dark.css
/css/styles/qtcreator_dark.css
/css/styles/tomorrow-night-blue.css
/css/styles/gml.css
/css/styles/pojoaque.jpg
/css/styles/atelier-heath-light.css
/css/styles/atelier-dune-dark.css
/css/styles/gruvbox-light.css
/css/styles/ascetic.css
/css/styles/kimbie.light.css
/css/styles/github.css
/css/styles/atelier-lakeside-light.css
/css/styles/vs.css
/css/styles/atelier-cave-light.css
/css/styles/monokai.css
/css/styles/atelier-sulphurpool-light.css
/css/styles/zenburn.css
/css/styles/rainbow.css
/css/styles/brown-papersq.png
/css/styles/magula.css
/css/styles/mono-blue.css
/css/styles/lioshi.css
/css/styles/atom-one-dark.css
/css/styles/tomorrow-night-bright.css
/css/styles/railscasts.css
/css/styles/gradient-light.css
/css/styles/nnfx-dark.css
/css/styles/tomorrow-night.css
/css/styles/atelier-plateau-dark.css
/css/styles/googlecode.css
/css/styles/ir-black.css
/css/styles/atelier-forest-light.css
/css/styles/pojoaque.css
/css/styles/paraiso-light.css
/css/styles/tomorrow-night-eighties.css
/css/styles/xt256.css
/css/styles/arta.css
/css/styles/atom-one-light.css
/css/styles/foundation.css
/css/styles/darcula.css
/css/styles/idea.css
/css/styles/brown-paper.css
/css/styles/obsidian.css
/css/styles/isbl-editor-dark.css
/css/styles/kimbie.dark.css
/css/styles/vs2015.css
/css/styles/hopscotch.css
/css/styles/color-brewer.css
/css/styles/purebasic.css
/css/styles/qtcreator_light.css
/css/styles/atelier-plateau-light.css
/css/styles/isbl-editor-light.css
/css/styles/atelier-savanna-light.css
/css/styles/grayscale.css
/css/styles/lightfair.css
/css/styles/github-gist.css
/css/styles/atelier-sulphurpool-dark.css
/css/styles/atelier-estuary-light.css
/css/styles/atelier-heath-dark.css
/css/styles/stackoverflow-dark.css
/css/styles/atelier-cave-dark.css
/css/styles/ocean.css
/css/styles/far.css
/css/styles/androidstudio.css
/css/styles/xcode.css
/css/styles/dark.css
/css/styles/school-book.css
/css/styles/dracula.css
/css/styles/a11y-dark.css
/css/styles/sunburst.css
/css/styles/an-old-hope.css
/css/styles/atelier-seaside-dark.css
/css/styles/nnfx.css
/css/styles/arduino-light.css
/css/styles/atelier-lakeside-dark.css
/css/styles/night-owl.css
/css/styles/a11y-light.css
/css/styles/gradient-dark.css
/css/styles/agate.css
/css/styles/atelier-dune-light.css
/css/styles/srcery.css
/css/styles/stackoverflow-light.css
/css/styles/atelier-forest-dark.css
/css/styles/atelier-estuary-dark.css
/css/styles/default.css
/css/styles/nord.css
/css/styles/hybrid.css
/css/styles/routeros.css
/css/styles/atelier-savanna-dark.css
/css/styles/paraiso-dark.css
/css/styles/codepen-embed.css
/css/styles/gruvbox-dark.css
/css/styles/solarized-light.css
/css/styles/atelier-seaside-light.css
/css/styles/tomorrow.css
/css/styles/monokai-sublime.css
